/* 

---------- TYPOGRAPHY ---------- 

FONT SIZE
12PX / 16PX / 20PX / 24PX / 32PX / 40PX / 48PX / 62PX

FONT WEIGHT
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
O / -2PX

FONT-FAMILY 
Poppins


---------- COLORS ---------- 

PRIMARY
Base: #339af0
Tint: #d0ebff
Shade: #1c7ed6


SECONDARY
Base: #9775fa
Tint: #e5dbff
Shade: #7048e8


TERTIARY
Base: #ff922b
Tint: #ffe8cc
Shade: #f76707


GREY
Base: #495057
Tint: #f1f3f5
Shade: #212529
white: #fff
black: #000


*/


/* ----------- GLOBAL STYLES ----------- */

body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5; 
    color: #495057;
}


h1, h2, h3, h4, h5 {
    font-weight: 700;
    letter-spacing: -2px;    
    color: #212529;    
}


h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px; 
}


p {
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
}

ul {
    list-style: none;
}


/* ----------- COMPONENTS----------- */

.btn {
    font-size: 16px;
    text-decoration: none;
}

.btn-primary:link, .btn-primary:visited {
    color: #339af0;
}

.btn-primary:hover, .btn-primary:active {
    color: #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
    color: #fff;
    background-color: #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #fff;
    background-color: #7048e8;
}


/* ----------- SECTIONS----------- */

/* ---- HERO SECTION ---- */

.hero-section {
    text-align: center;
}

/* ---- CTA SECTION ---- */

.cta-section {
    text-align: center;
}

/* ---- FOOTER ---- */

.footer {
    text-align: center;
}

/* ---- FEARTURES SECTION ---- */

.features-main-heading {
    text-align: center;
}