/* 

---------- TYPOGRAPHY ---------- 

FONT SIZE
12PX / 16PX / 20PX / 24PX / 32PX / 40PX / 48PX / 62PX

FONT WEIGHT
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
O / -2PX

FONT-FAMILY 
Poppins


---------- COLORS ---------- 

PRIMARY
Base: #339af0
Tint: #d0ebff
Shade: #1c7ed6


SECONDARY
Base: #9775fa
Tint: #e5dbff
Shade: #7048e8


TERTIARY
Base: #ff922b
Tint: #ffe8cc
Shade: #f76707


GREY
Base: #495057
Tint: #f1f3f5
Shade: #212529
white: #fff
black: #000



---------- BORDER RADIUS ---------- 
 
4px / 8px / 20px


---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px /  300px / 400px / 500px

*/


/* ----------- GLOBAL STYLES ----------- */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5; 
    color: #495057;
}


h1, h2, h3, h4, h5 {
    font-weight: 700;
    letter-spacing: -2px;    
    color: #212529;    
}


h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px; 
}


p {
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

/* ----------- COMPONENTS----------- */

.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
}

.btn-primary:link, .btn-primary:visited {
    color: #fff;
    background-color: #339af0;
    border: 2px solid #339af0;
}

.btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: #1c7ed6;
    border: 2px solid #1c7ed6;
}

.btn-primary-outline:link, .btn-primary-outline:visited {
    color: #339af0;
    background-color: #fff;
    border: 2px solid #339af0;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    color: #1c7ed6;
    background-color: #fff;
    border: 2px solid #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
    color: #fff;
    background-color: #9775fa;
    border: 2px solid #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #fff;
    background-color: #7048e8;
    border: 2px solid #7048e8;
}


.highlight {
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.highlight-primary {
    background-color: #339af0;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}


.logo-md {
    width: 100px;
}


.logo-sm {
    width: 80px;
}

/* ----------- SECTIONS----------- */


/* ---- NAVBAR ---- */

.navbar {
    margin-bottom: 200px;
}

/* ---- HERO SECTION ---- */

.hero-section {
    text-align: center;
    margin-bottom: 300px;
}

.hero-heading {
    margin-bottom: 10px;
}

.hero-paragraph {
    margin-bottom: 50px;
}



/* ---- FEARTURES SECTION ---- */

.features-section {
    margin-bottom: 300px;
}

.features-main-heading {
    text-align: center;
    margin-bottom: 80px;
}

.feature-headings{
    margin-bottom: 20px;
}

.feature-img {
    width: 400px;
}




/* ---- CTA SECTION ---- */

.cta-section {
    /* text-align: center; */
    margin-bottom: 300px;
}


.cta-card {
    text-align: center;
    background-color: #339af0;
    width: 1000px;
    padding: 100px 200px;
    border-radius: 20px;
}

.cta-heading {
    margin-bottom: 30px;
}

/* ---- FOOTER ---- */

.footer {
    text-align: center;
}

.social-icons {
    width: 20px;
}



