/* 

---------- TYPOGRAPHY ---------- 

FONT SIZE
12PX / 16PX / 20PX / 24PX / 32PX / 40PX / 48PX / 62PX

FONT WEIGHT
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
O / -2PX

FONT-FAMILY 
Poppins


---------- COLORS ---------- 

PRIMARY
Base: #339af0
Tint: #d0ebff
Shade: #1c7ed6


SECONDARY
Base: #9775fa
Tint: #e5dbff
Shade: #7048e8


TERTIARY
Base: #ff922b
Tint: #ffe8cc
Shade: #f76707


GREY
Base: #495057
Tint: #f1f3f5
Shade: #212529
white: #fff
black: #000



---------- BORDER RADIUS ---------- 
 
4px / 8px / 20px


---------- SPACING SYSTEM ----------

5px / 10px / 15px / 20px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px /  300px / 400px / 500px

*/


/* ----------- GLOBAL STYLES ----------- */

:root {
    /* FONT SIZE */
    --text-sm: 12px;
    --text-base: 16px;
    --text-paragraph: 20px;
    --text-h5: 24px;
    --text-h4: 32px;
    --text-h3: 40px;
    --text-h2: 48px;
    --text-h1: 62px;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'poppins', sans-serif;

    /* COLORS */
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;
    --secondary-base: #9775fa;
    --secondary-tint: #e5dbff;
    --secondary-shade: #7048e8;
    --tertiary-base: #ff922b;
    --tertiary-tint: #ffe8cc;
    --tertiary-shade: #f76707;
    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;
    --white: #fff;
    --black: #000;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}


body {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5; 
    color: #495057;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


h1, h2, h3, h4, h5 {
    font-weight: 700;
    letter-spacing: -2px;    
    color: #212529;    
}


h1 {
    font-size: 6.2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.2rem;
}

h5 {
    font-size: 2.4rem; 
}


p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    display: inline-block;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

.small-text {
    font-size: 1.2rem;
}

/* ----------- COMPONENTS----------- */

.btn {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
}

.btn-primary:link, .btn-primary:visited {
    color: #fff;
    background-color: #339af0;
    border: 2px solid #339af0;
}

.btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: #1c7ed6;
    border: 2px solid #1c7ed6;
}

.btn-primary-outline:link, .btn-primary-outline:visited {
    color: #339af0;
    background-color: #fff;
    border: 2px solid #339af0;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
    color: #1c7ed6;
    background-color: #fff;
    border: 2px solid #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
    color: #fff;
    background-color: #9775fa;
    border: 2px solid #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #fff;
    background-color: #7048e8;
    border: 2px solid #7048e8;
}


.highlight {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.highlight-primary {
    background-color: #339af0;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}


.logo-md {
    width: 100px;
}


.logo-sm {
    width: 80px;
}

/* ----------- SECTIONS----------- */


/* ---- HEADER ---- */

.header {
    height: 100vh;
    min-height: 800px;
}

/* ---- NAVBAR ---- */

.navbar {
    margin-bottom: 20rem;
}

/* ---- HERO SECTION ---- */

.hero-section {
    text-align: center;
    margin-bottom: 30rem;
}

.hero-heading {
    margin-bottom: 1rem;
}

.hero-paragraph {
    margin-bottom: 5rem;
}



/* ---- FEARTURES SECTION ---- */

.features-section {
    margin-bottom: 30rem;
}

.features-main-heading {
    text-align: center;
    margin-bottom: 8rem;
}

.feature-headings{
    margin-bottom: 2rem;
}

.feature-img {
    max-width: 400px;
    width: 100%;
}




/* ---- CTA SECTION ---- */

.cta-section {
    /* text-align: center; */
    margin-bottom: 30rem;
}


.cta-card {
    text-align: center;
    background-color: #339af0;
    max-width: 1000px;
    padding: 10rem 20rem;
    border-radius: 20px;
    margin: 0 auto;
}

.cta-heading {
    margin-bottom: 3rem;
}

/* ---- FOOTER ---- */

.footer {
    text-align: center;
}

.social-icons {
    width: 20px;
}



