/* 

---------- TYPOGRAPHY ---------- 

FONT SIZE
12PX / 16PX / 20PX / 24PX / 32PX / 40PX / 48PX / 62PX

FONT WEIGHT
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
O / -2PX

FONT-FAMILY 
Poppins


---------- COLORS ---------- 

PRIMARY
Base: #339af0
Tint: #d0ebff
Shade: 1c7ed6


SECONDARY
Base: #9775fa
Tint: #e5dbff
Shade: #7048e8


TERTIARY
Base: #ff922b
Tint: #ffe8cc
Shade: #f76707


GREY
Base: #495057
Tint: #f1f3f5
Shade: #212529


*/




h1 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    font-family: 'poppins', sans-serif;
    color: #212529;  
}

h2 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 48px;
    font-family: 'poppins', sans-serif;
    color: #212529; 
}

h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 40px;
    font-family: 'poppins', sans-serif; 
    color: #212529; 
}

h4 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 32px;
    font-family: 'poppins', sans-serif;
    color: #212529;  
}

h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 24px;
    font-family: 'poppins', sans-serif; 
    color: #212529; 
}

p {
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    font-family: 'poppins', sans-serif; 
    color: #495057;
}

a {
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'poppins', sans-serif; 
    color: #495057;
}

ul {
    list-style: none;
}